
.middle{
    padding-top: 75px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 80px;
  }
body{
  background-color:firebrick;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

    
   